/* ///////////// */
/* Divs /////////*/
/* ///////////// */

.div-logo {
    max-height: 70px;
    align-self: center;
    padding: 0.2em 0.2em 0 0.2em;
}

.div-welcome {
    width: 80%;
    background-color: white;
    display: grid;
}

.div-image-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 20px;
}

.div-save-button, .div-delete-button {
    display: flex;
    justify-content: flex-end;
}

.div-modal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
}

/* /////////////// */
/* Images /////////*/
/* /////////////// */

.img-logo {
    max-width: 55px;
}

.img-exit-button {
    width: 36px;
    height: 31px;
}

/* ////////////////////// */
/* Forms /////////////////*/
/* ////////////////////// */

.biasContent-form {
    grid-template-rows: 0.5fr 1fr 0.5fr 3fr 0.5fr 3fr 0.5fr;
}

.scenarioContent-form {
    grid-template-rows: 0.5fr 1fr 0.5fr 3.7fr;
}

.mapContent-form {
    grid-template-rows: 0.5fr 1fr 0.5fr 1fr 0.5fr;
}

.newsArticleContent-form {
    grid-template-rows: 0.5fr 1fr 0.5fr 3fr 0.5fr 1fr 0.5fr;
}

.metricContent-form, .measureContent-form, .timerContent-form {
    grid-template-rows: 0.5fr 1fr 1fr;
}

/* ////////////////////// */
/* Miscellaneous /////////*/
/* ////////////////////// */

.measureContent-labels {
    display: grid;
    grid-template-columns: 8fr 2fr;
}

.canvas-form-row-label {
    display: grid;
    column-gap: 10px;
    margin-bottom: 5px;
}

.canvas-form-row-values {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}

.textareas-answers {
    grid-template-rows: 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr;
}

.textarea-rows {
    display: grid;
    grid-template-columns: 2fr 8fr 30px;
    column-gap: 10px;
    margin-bottom: 10px;
}

.textarea-rows select {
    width: 100%;
}

.textarea-rows2 {
    grid-template-columns: 9fr 30px;
}

/* ////////////////// */
/* Scrollbar /////////*/
/* ////////////////// */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border: 2px solid lightgrey;
    background: var(--bg-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.text-area-maps {
    max-width: 95%;
    margin-bottom: 20px;
}

/* Modal CSS */
.modal, .menuModal {
    background-color: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    text-align: center;
    min-width: 30rem;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
}

.modal {
    width: 60%;
    max-width: 40rem;
}

.menuModal{
    display: grid;
    width: 80%;
    max-height: calc(100vh - 210px);
    overflow-y: scroll;
}

.backdrop {
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}

/* CSS for the searchbar */
.searchInputs {
    display: grid;
    grid-template-columns: 1fr 0.1fr;
    margin-left: 5px;
}

.search {
    width: 80%;
    justify-self: center;
}

.search input {
    background-color: lightgrey;
    border: 0;
    border-radius: 2px 0 0 2px;
    height: 30px;
    padding: 10px;
}

.searchIcon {
    background-color: lightgrey;
    height: 30px;
    width: 50px;
}

.searchIcon > svg {
    margin: 3px 0 -3px 10px;
}

.greyed-out {
    background-color: rgb(238, 238, 238);
    opacity: 0.85;
    pointer-events: none;
}

/* New stuff from Cas */
.roundContent-form {
    display: grid;
}

/* LOGIN CSS */
.login {
    width: 60%;
    max-width: 40rem;
    border-radius: 6px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loginForm:after {
    content: '';
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: 1;
    background-image: linear-gradient(to bottom right, #50ff65, rgba(51, 119, 57, 0.8));
}

.loginForm .form-inner {
    background-color: rgba(255, 255, 255, 0.44);
    padding: 30px;
    z-index: 2;
}

.loginForm .form-inner h2 {
    font-size: 28px;
    text-align: center;
}

.form-inner .form-group label {
    padding-left: 20px;
}


.loginForm .form-inner .form-group {
    width: 95%;
}

.div-login {
    display: grid;
    justify-items: center;
}

.loginForm .form-inner .form-group input {
    width: 100%;
    padding: 10px 15px;
    border-radius: 8px;
}

.loginForm .form-inner input[type="submit"] {
    background: var(--gradient-color) !important;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
    width: 50%;
}

.loginForm .form-inner input[type="submit"]:hover {
    background: var(--gradient-color-hover);
}